:root {
  --color-0: #000000;
  --color-1: #E5E5E5;
  --color-2: #FAFAFA;
  --color-4: #FFFFFF;

  font-size: 2vh;
}

body, body * {
  display: flex;
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}

.row {
  flex-direction: row;
  width: 100%;
}

.column {
  flex-direction: column;
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}
.fill-vertical {
  height: 100%;
}
.fill-horizontal {
  width: 100%;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.black {
  background: var(--color-0);
}
.gray {
  background: var(--color-1);
}
.lightgray {
  background: var(--color-2);
}
.white {
  background: var(--color-3);
}

button {
  border: none;
  background: var(--color-2);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
}

button.round {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
button.square {
  width: 1.5rem;
  height: 1.5rem;
}
button.tiny {
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#toolbar {
  padding: 1rem;
}

#file-actions {
  height: 2rem;
}

#file-header {
  height: 2rem;
}

#file-list {
  /* padding: 0 0.5rem; */
}

#file-list li {
  padding: 0.15rem 0.5rem;
}
#file-list li:hover {
  background: var(--color-1);
  cursor: pointer;
}

#bar {
  height: 2rem;
}

#console {
  height: 300px;
}
